---
# https://yamllint.readthedocs.io/en/stable/configuration.html

extends: default
rules:
  truthy: disable
  line-length:
    level: warning
  new-line-at-end-of-file:
    level: error
  document-start:
    level: error
