[defaults]
allow_world_readable_tmpfiles = True
inventory = inventories
roles_path = roles
retry_files_enabled = False
host_key_checking = False

[ssh_connection]
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=120s
