apiVersion: v1
kind: Service
metadata:
  name: {{k8s_ingress_namespace}}
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
spec:
  type: {{k8s_ingress_service_type}}
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
      nodePort: {{k8s_ingress_nodeport_http}}
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
      nodePort: {{k8s_ingress_nodeport_https}}
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
