{
{%for item in hostfile_entries %}
  "{{item.hostname}}" : {
    "visible" : true,
    "color" : "rgb({{ 256 | random }}, {{ 256 | random }}, {{ 256 | random }})",
    "address" : "{{item.hostname}}",
    "label" : "{{item.hostname}}",
    "user" : "root"
  },
{%endfor%}
}