[WebService]
{%if inventory_hostname in groups['masters'] %}
LoginTitle = "Galaxy Kubernetes master {{inventory_hostname}}"
{%elif inventory_hostname in groups['workers'] %}
LoginTitle = "Galaxy Kubernetes worker {{inventory_hostname}}"
{%else%}
LoginTitle = "Galaxy member (No Kubernetes)"
{%endif%}