apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
{%if k8s_ha_masters %}
controlPlaneEndpoint: {{k8s_loadbalancer_ip}}:6443
{%endif%}
networking:
  podSubnet: {{k8s_cni_pod_cidr}}
  serviceSubnet: {{k8s_service_cidr}}
  dnsDomain: cluster.local
apiServer:
  certSANs:
  - localhost
  - 127.0.0.1
  - {{lb_k8s_public_ip}}
  - {{lb_k8s_api_url}}
{%for node in hostvars[groups['k8s-nodes']] %}
  - {{node.ansible_host}}
  - {{node.inventory_hostname}}
  - {{node.inventory_hostname}}.{{node.domain}}
{%endfor%}
