apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
{%if k8s_ha_masters %}
controlPlaneEndpoint: {{loadbalancer_ip}}:{{k8s_apiserver_port}}
{%endif%}
networking:
  podSubnet: {{k8s_cni_pod_cidr}}
  serviceSubnet: {{k8s_service_cidr}}
  dnsDomain: cluster.local
apiServer:
  certSANs:
  - localhost
  - 127.0.0.1
  - {{loadbalancer_ip}}
{%for node in groups['k8s-nodes'] %}
  - {{hostvars[node]['ansible_host']}}
  - {{hostvars[node]['inventory_hostname']}}
  - {{hostvars[node]['inventory_hostname']}}.{{hostvars[node]['domain']}}
{%endfor%}
etcd:
  external:
    endpoints:
{%for node in groups['etcd'] %}
    - https://{{hostvars[node]['ansible_host']}}:2379
{%endfor%}
    caFile: {{ etcd_certs_directory }}/ca.crt
    certFile: {{ etcd_certs_directory }}/etcd-server.crt
    keyFile: {{ etcd_certs_directory }}/etcd-server.key