# {
#   "k8s-host-5" : {
#     "visible" : true,
#     "color" : "rgb(0, 185, 255)",
#     "address" : "k8s-host-5",
#     "label" : "k8s-host-5.milkywaygalaxy.be",
#     "user" : ""
#   },
#   "k8s-host-6" : {
#     "visible" : true,
#     "color" : "rgb(0, 97, 138)",
#     "address" : "k8s-host-6",
#     "label" : "k8s-host-6.milkywaygalaxy.be",
#     "user" : ""
#   }
# }


{
{%for item in hostfile_entries %}
  "{{item.hostname}}" : {
    "visible" : true,
    "color" : "rgb({{ 256 | random }}, {{ 256 | random }}, {{ 256 | random }})",
    "address" : "{{item.hostname}}",
    "label" : "{{item.hostname}}.{{item.domain}}",
    "user" : "{{k8s_user}}"
  },
{%endfor%}
}