
######################## k8s upstream ############################
upstream k8s_nodes_http {
    # proxy to the upstream with the least amount of connections
    least_conn;

    # weight 3 means 3 times as much traffic
{%for node in groups['k8s-nodes'] %}
    server {{node}}:{{k8s_ingress_nodeport_http}};
{%endfor%}
}


################### http to https redirects ######################
{%for domain in lb_listen_domains %}
server {
    listen 80;
    server_name *.{{domain}};

    # logging
    access_log  /var/log/nginx/{{domain}}/access.log   main;
    error_log   /var/log/nginx/{{domain}}/error.log    error;

    location / {
        # return 301 https://$server_name$request_uri; # gives https://%2A.domain.com
        return 301 https://$host$request_uri;
    }
}

{%endfor%}


########################### k8s-api ##############################
server {
    # listen ssl
    listen {{lb_k8s_api_port}} ssl;
    ssl on;
    server_name {{lb_k8s_api_url}};

    # SSL/TLS
    ssl_certificate     /DATA/certificates/{{lb_k8s_api_cert_domain}}/fullchain.pem;
    ssl_certificate_key /DATA/certificates/{{lb_k8s_api_cert_domain}}/privkey.pem;
    ssl_protocols TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers '{{lb_ssl_ciphers}}';

    # logging
    access_log  /var/log/nginx/{{lb_k8s_api_cert_domain}}/access.log   main;
    error_log   /var/log/nginx/{{lb_k8s_api_cert_domain}}/error.log    error;

    # ACL
    include /etc/nginx/k8s-api.acl;

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;

        proxy_set_header X-provider Hetzner;
        proxy_set_header Host $host;
        proxy_pass http://k8s_nodes_http;
    }
}


####################### SSL all domains ##########################
{%for domain in lb_listen_domains %}
server {
    # listen ssl
    listen 443 ssl;
    ssl on;
    server_name *.{{domain}};

    # SSL/TLS
    ssl_certificate     /DATA/certificates/{{domain}}/fullchain.pem;
    ssl_certificate_key /DATA/certificates/{{domain}}/privkey.pem;
    ssl_protocols TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers '{{lb_ssl_ciphers}}';

    # logging
    access_log  /var/log/nginx/{{domain}}/access.log   main;
    error_log   /var/log/nginx/{{domain}}/error.log    error;

    location / {
{%if lb_galaxy_acl %}
        # ACL
        include /etc/nginx/galaxy.acl;
{%endif%}

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;

        proxy_set_header X-provider Hetzner;
        proxy_set_header Host $host;
        proxy_pass http://k8s_nodes_http;
    }
}

{%endfor%}
